<div class="row justify-content-md-center">
  <div class="col-md-9 mx-auto">
    <div class="quiz-form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group" *ngIf="selected.question">
            <h1>Quiz</h1>
            <hr>
            <p><b>{{ index + 1 }}.</b> {{ selected.question }}</p>

            <div *ngIf="selected.answers.answer_a">
              <input id="answer_a" type="radio" class="btn-check" name="answer" autocomplete="off"
                value="answer_a_correct" [(ngModel)]="answer">
              <label for="answer_a" class="btn btn-outline-success">{{ selected.answers.answer_a }}</label><br><br>
            </div>
            <div *ngIf="selected.answers.answer_b">
              <input id="answer_b" type="radio" class="btn-check" name="answer" autocomplete="off"
                value="answer_b_correct" [(ngModel)]="answer">
              <label for="answer_b" class="btn btn-outline-success">{{ selected.answers.answer_b }}</label><br><br>
            </div>
            <div *ngIf="selected.answers.answer_c">
              <input id="answer_c" type="radio" class="btn-check" name="answer" autocomplete="off"
                value="answer_c_correct" [(ngModel)]="answer">
              <label for="answer_c" class="btn btn-outline-success">{{ selected.answers.answer_c }}</label><br><br>
            </div>
            <div *ngIf="selected.answers.answer_d">
              <input id="answer_d" type="radio" class="btn-check" name="answer" autocomplete="off"
                value="answer_d_correct" [(ngModel)]="answer">
              <label for="answer_d" class="btn btn-outline-success">{{ selected.answers.answer_d }}</label><br><br>
            </div>
            <div *ngIf="selected.answers.answer_e">
              <input id="answer_e" type="radio" class="btn-check" name="answer" autocomplete="off"
                value="answer_e_correct" [(ngModel)]="answer">
              <label for="answer_e" class="btn btn-outline-success">{{ selected.answers.answer_e }}</label><br><br>
            </div>
            <div *ngIf="selected.answers.answer_f">
              <input id="answer_f" type="radio" class="btn-check" name="answer" autocomplete="off"
                value="answer_f_correct" [(ngModel)]="answer">
              <label for="answer_f" class="btn btn-outline-success">{{ selected.answers.answer_f}}</label><br><br>
            </div>
            <div class="form-btn">
              <button class="submit-btn" (click)="nextQuestion()">{{ questions.length === ( index + 1 ) ? 'Finish' :
                'Next' }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>